body{
    display: flex;
}

.image-container{
    position: relative;
}

.placeholder,
.icon{
    position: relative;
}

.placeholder{
    background-color:black;
    opacity: 50%;
    height: 200px;
    width: 400px;
}